{%- assign social = site.bootstrap.social_links -%}

  <!-- Facebook -->
  {%- if social.facebook -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.facebook }}" role="button"><i class="fab fa-facebook-f"></i></a>{%- endif -%}

  <!-- Twitter -->
  {%- if social.twitter -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.twitter }}" role="button"><i class="fab fa-twitter"></i></a>{%- endif -%}

  <!-- Google -->
  {%- if social.google -%}<a class="btn btn-outline-light btn-floating m-1 social" htarget="blank" ref="{{ social.google }}" role="button"><i class="fab fa-google"></i></a>{%- endif -%}

  <!-- Instagram -->
  {%- if social.instagram -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.instagram }}" role="button"><i class="fab fa-instagram"></i></a>{%- endif -%}

  <!-- Linkedin -->
  {%- if social.linkedin -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.linkedin }}" role="button"><i class="fab fa-linkedin-in"></i></a>{%- endif -%}

  <!-- Github -->
  {%- if social.github -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.github }}" role="button"><i class="fab fa-github"></i></a>{%- endif -%}

  <!-- Youtube -->
  {%- if social.youtube -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.youtube }}" role="button"><i class="fab fa-youtube"></i></a>{%- endif -%}

  <!-- Twitch -->
  {%- if social.twitch -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.twitch }}" role="button"><i class="fab fa-twitch"></i></a>{%- endif -%}

  <!-- Telegram -->
  {%- if social.telegram -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.telegram }}" role="button"><i class="fab fa-telegram-plane"></i></a>{%- endif -%}
  
  <!-- WhatsApp -->
  {%- if social.whatsapp -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.whatsapp }}" role="button"><i class="fab fa-whatsapp"></i></a>{%- endif -%}
  
  <!-- Discord -->
  {%- if social.discord -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.discord }}" role="button"><i class="fab fa-discord"></i></a>{%- endif -%}

  <!-- Slack -->
  {%- if social.slack -%}<a class="btn btn-outline-light btn-floating m-1 social" target="blank" href="{{ social.slack }}" role="button"><i class="fab fa-slack"></i></a>{%- endif -%}
  
